

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #EEEEEE;
}

.menucontainer {
    width: 100% !important;
    min-height: 40px;
}

.menucss {
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 100% !important;
}
.menucss ul {
    font-size: 0;
    list-style-type: none;
    margin-bottom: 2px !important;
}
.menucss ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #333;
    display: inline-block;
    padding: 15px;
    position: relative;
}
.menucss ul li ul {
    display: none;
    z-index: 1000 !important;
}
.menucss ul li:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}
.menucss ul li:hover ul {
    display: block;
    margin-top: 15px;
    width: 250px;
    left: 0;
    position: absolute;
}
.menucss ul li:hover ul li {
    display: block;
    background-color: #e7e7e7;
}
.menucss ul li:hover ul li span {
    float: right;
    color: #f9f9f9;
    background-color: #F03861;
    padding: 2px 5px;
    text-align: center;
    font-size: .8rem;
    border-radius: 3px;
}
.menucss ul li:hover ul li:hover {
    background-color: #e0e0e0;
}
.menucss ul li:hover ul li:hover span {
    background-color: #ee204e;
}

.menucontainer input[type="checkbox"]{
    display: none !important;
}

.buttonmenu, .menutitle{
    display: none !important;
}

@media screen and (max-width:640px) {
    .menucontainer label{
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        vertical-align: middle;
        display: inline-block !important;
    }
    .buttonmenu{
        display: block !important;
        height: 36px;
        min-width: 36px;
        margin-left: 4px;
        background-color: white;
        color: black;
        font-size: 20pt;
        text-align: center;
    }
    .menutitle{
        display: block !important;
        height: 36px;
        width: calc(99%-40) !important;
        vertical-align: middle !important;
        padding-left: 10px;
        font-weight: bold !important;
        font-size: 18pt;
        color: white;
        text-align: center;
    }
    .menucss{
        display: none;
        max-width:640px !important;
        max-height: 480px !important;
        
    }
    .menucss ul{
        text-align: center !important;
    }
    .menucss ul li {
        min-width: 150px !important;
        border-bottom: 1px solid !important;
        margin-right: 4px;
    }
    .menucss ul li:hover ul {
        width: 180px !important;
    }
    .menucss ul li:hover ul li{
        border-bottom: 0px !important;
    }
    .menucss ul li i {
        float: right;
        text-align: right !important;
    }
    .menucontainer input[type="checkbox"]{
        margin: 2px !important;
    }
    .menucontainer input[type="checkbox"]:checked + label + label + .menucss{
        display: block !important;
    }
    .menucontainer input[type="checkbox"] + label{
        color: black;
    }
    .menucontainer input[type="checkbox"]:checked + label{
        color: green;
    }


}

@media screen and (max-width:320px) {
    .menucss ul li {
        min-width: 240px !important;
    }
}